NODE_ENV=development
LOG_LEVEL=info
BOT_PREFIX=!
BOT_OWNER_ID=
BOT_VERSION=0.1 beta

DATABASE_PATH=./data/anya.db
TEMP_DIRECTORY=./temp
SESSION_NAME=anya-session

MAX_CONCURRENT_MEDIA_JOBS=2
AUTO_READ=true

